.form-group {
    width: 400px;
    margin: 40px auto;
}

.error {
    color: red;
}

.success {
    color: green;
}

#conteiner {
    width: 30%;
    margin: 40px auto;
}

tr:first-of-type {
    background-color: #CCCCCC;
}

#conteiner1 {
    width: 30%;
    margin: 40px auto;
}
